/* Introdução */

/*  Passo 1: Adicionar os estilos
    Passo 2: Adicionar o grid
    Passo 3: Mostrar a propiedade grid-column, iniciando na coluna 1 e terminando na 3(porém tem que colocar 4)
    Passo 4: Mostrar a propiedade grid-row, iniciando em alguma linha e terminando em outra.
    Passo 5: Mostrar a propiedade de alinhamento horizontal justify-self para os itens, end, start, center
    Passo 6: Mostrar a propiedade de alinhamento vertical align-self...

    */

    .container{
      background-color: gray; 
      border: 3px solid red;
      padding: 15px;
      display: grid;
      
  }
  
    .container div{
      background-color: blue;
      padding: 20px;
      border: 1px solid black;
  }

    #item1{
      grid-column-start: 1;
      grid-column-end: 4;
    }

    #item2{
      grid-row-start: 2;
      grid-row-end: 4;
    }

    #item3{
      justify-self: end;
      /* justify-self: start; */
      /* justify-self: center; */
      height: 200px;
    }

    #item5{
      justify-self: start;
      /* justify-self: end; */
      /* justify-self: center; */
      height: 200px;
    }

    #item4{
      align-self: center;
      /* align-self: end; */
      /* align-self: start; */
    }
